<!DOCTYPE html>
<html>
<head>
    <title>My Template</title>
</head>
<body>
    <div id="content-container">
        <div>
            <h1>Dog page!</h1>
            <button id="fetch-breeds-list">List of breeds</button>
            <button id="fetch-random-image">Random dog!</button>
        </div>
        <!-- TODO: Add image of dog or list of breeds -->
        <div style="padding-top: 30px;">
            {{if ne .ImageURL ""}}
            <img style="max-width: 100%; height: auto;" src="{{.ImageURL}}" alt="Girl in a jacket" width="auto" height="auto">
            {{end}}
            {{if ne .BreedList nil}}
            <div>
                <h2>List of dog breeds found in dog API</h2>
                <ul>
                {{range $key, $value := .BreedList}}
                    <li>{{ $key }}
                        {{if $value}}
                        <ul>
                        {{range $index, $element := $value}}
                            <li>
                                {{$element}}
                            </li>
                        {{end}}
                        </ul>
                        {{end}}
                    </li>
                {{end}}
                </ul>
            </div>
            {{end}}
        </div>
    </div>
    <script src="/static/main.js"></script>
</body>
</html>