<!DOCTYPE html>
<html>
<head>
    <title>My Template</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div id="page-container">
        <div>
            <h1>Dog page!</h1>
            <div class="btn-container">
                <button class="margin-bottom-small" id="fetch-breeds-list">List of breeds</button>
                <button class="margin-top-small margin-bottom-small" id="fetch-random-image">Random dog!</button>
                <div class="margin-top-small">
                    <input type="text" placeholder="breed" id="dog-breed" name="dog-breed">
                    <button id="fetch-dog-breed-image">Get this breed!</button>
                </div>
            </div>
        </div>
        <div class="content-container">
            {{ if ne .Error false }}
            <p>{{ .ErrorMessage }}</p>
            {{ end }}
            {{if ne .ImageURL ""}}
            <img style="max-width: 100%; height: auto;" src="{{.ImageURL}}" alt="Girl in a jacket" width="auto" height="auto">
            {{end}}
            {{if ne .BreedList nil}}
            <div>
                <h2>List of dog breeds found in dog API</h2>
                <ul>
                {{range $key, $value := .BreedList}}
                    <li>{{ $key }}
                        {{if $value}}
                        <ul>
                        {{range $index, $element := $value}}
                            <li>
                                {{$element}}
                            </li>
                        {{end}}
                        </ul>
                        {{end}}
                    </li>
                {{end}}
                </ul>
            </div>
            {{end}}
        </div>
    </div>
    <script src="/static/main.js"></script>
</body>
</html>